package.json
package-lock.json
**/.git
**/.svn
**/.hg
**/node_modules
.angular
.vscode
.cz-config.js
.eslintrc.json
.prettierrc.json
.stylelintrc.json
angular.json
commitlint.config.js
documentation.json
tsconfig.json
coverage
dist