.card-layout {
  display: flex;

  align-content: center;
  align-items: center;
  background-color: var(--palette-blue-es-20);
  border-radius: var(--border-radius-6);
  flex-wrap: wrap;
  gap: var(--spacing-16);
  justify-content: space-evenly;
  margin: var(--spacing-10) var(--spacing-40);
  min-height: 80px;

  .technologies {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(4, 1fr);
    gap: 8px;
    .tech-image {
      height: 35px;
      width: 35px;
    }
  }
  .card-button {
    background-color: var(--palette-grey-60);
    color: var(--palette-white-0);
  }

  @media (max-width: 600px) {
    align-items: center;
    flex-direction: column;
    margin: var(--spacing-10) var(--spacing-10);

    .card-button {
      margin-top: var(--spacing-10);
      margin-bottom: var(--spacing-10);
    }
  }
}
