:root {
  --border-none: 0;
  --border-stroke-1: 1px;
  --border-stroke-2: 2px;
  --border-radius-none: 0;
  --border-radius-4: 4px;
  --border-radius-6: 6px;
  --border-radius-12: 12px;
  --border-radius-24: 24px;
  --border-rounded: 50%;
}
